@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background-color: #fefefe;
}

.container {
  margin: 20px;
  border: 1px solid black;
}

.stats__container {
  display: flex;
  justify-content: space-between;
}

.box {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box p {
  font-size: 80%;
  margin-bottom: 10px;
}

/* country info */
.country__info {
  display: flex;
}

.country__info img {
  border-radius: 50%;
}
